.button {
    -fx-padding: 8 15 8 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 4;
    -fx-background-color: #4CAF50;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #45a049;
}

.button:pressed {
    -fx-background-color: #3d8b40;
}

.export-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.export-button:hover {
    -fx-background-color: #45a049;
}

.export-button:pressed {
    -fx-background-color: #3d8b40;
}
